@{
    ViewBag.Title = "School Management System";
}

<div class="jumbotron">
    <h1>School Management System</h1>
    <p class="lead">A centre of educational excellence, Our tradition is to seek constant renewal to keep abreast of successful developments in teaching and learning.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mission</h2>
        <p>
            We aim to provide quality education of an
             international standard. We aim for excellence through quality management,
             quality training and quality teaching, bringing benefits to our students,
             the community and the wider world.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vision</h2>
        <p>Our values our heritage while we continue to reinvent our educational approach to meet the needs of the future. We believe that modern methods and attitudes can enable students to achieve their fullest potential.</p>
        <br />
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Core Values</h2>
        <p>It is an organisation with a clear identity that is defined by its vision. The core values of us support our mission, shape our culture and reflect what our organisation stands for.</p>
        <br />
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>